<section class="vh-100% gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-10" >
          <div class="card shadow-2-strong card-registration shadow-lg p-3 mb-5 bg-white " style="border-radius: 30px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-6 pb-4 pb-md-0 mb-md-8 mb-4">Registration Form</h3>
              <form class="needs-validation" novalidate>
  
                 <!-- user name -->
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                   
                    <div class="form-outline">
                      <input type="text" id="firstname"  class="form-control form-control-lg" required/>
                      <div class="invalid-feedback" FirstName.touched>
                        Firstname is required!
                      </div>
                      <label class="form-label" for="firstname">First Name</label>
                      
                    </div>
                    <div class="form-outline col-md-30 mb-4">
                      <input type="text" id="middleName" class="form-control form-control-lg" required/>
                      <div class="invalid-feedback">
                        Middle is required!
                      </div>
                      <label class="form-label" for="middleName">Middle Name</label>
                    </div>

  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="lastName" class="form-control form-control-lg" required/>
                      <div class="invalid-feedback">
                        Last is required!
                      </div>
                      <label class="form-label" for="lastName">Last Name</label>
                    </div>
  
                  </div>
                </div>
  
                 <div class="row">
                  <!-- <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                      <label for="birthdayDate" class="form-label">Birthday</label>
                    </div> 
  
                  </div> -->
                  <div class="col-md-6 mb-4">
  
                    <h6 class="mb-2 pb-1">Gender: </h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" checked  />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
                    
  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="date" id="dob" class="form-control form-control-lg" required/>
                      <div class="invalid-feedback">
                        Birthdate is required!
                      </div>
                      <label class="form-label" for="birthdate">Birthdate</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="number" id="age" class="form-control form-control-lg" disabled />
                      <label class="form-label" for="age">Age</label>
                    </div>
  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" class="form-control form-control-lg" required />
                      <div class="invalid-feedback">
                        EmailAddress is required!
                      </div>
                      <label class="form-label" for="emailAddress">Email</label>
                    </div>
                    
                    <div class="form-outline col-md-20 mb-4 pb-2">
                      <input type="tel" id="phoneNumber" class="form-control form-control-lg" required />
                      <div class="invalid-feedback">
                        PhoneNumber is required!
                      </div>
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline ">
                      <input type="password" id="password" class="form-control form-control-lg" required />
                      <div class="invalid-feedback">
                        Password is required!
                      </div>
                      <label class="form-label" for="password">Password</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="text" id="address" class="form-control form-control-lg" placeholder="House-no,Street" required />
                      <div class="invalid-feedback">
                        Address is required!
                      </div>
                      <label class="form-label" for="address" >Address</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <input type="text" id="address" class="form-control form-control-lg" placeholder="Landmark,Area" required />
                      <div class="invalid-feedback">
                        Address is required!
                      </div>
                      <label class="form-label" for="address" >Address</label>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-4 mb-4 pb-2">
                    <select class="select form-control-lg px-xl-5">
                      <option value="0" disabled>Choose Country</option>
                      <option value="1">India</option>
                      <option value="2">Usa</option>
                      <option value="3">Dubai</option>
                      <option value="3">England</option>
                    </select>
                    </div>
                    <div class="col-md-4 mb-4 pb-2">
                    <select class="select form-control-lg px-xl-5">
                      <option value="0" disabled>Choose City</option>
                      <option value="1">Ahmedabad</option>
                      <option value="2">Rajkot</option>
                      <option value="3">Surat</option>
                      <option value="5">Delhi</option>
                      <option value="6">Mumbai</option>
                    </select>
              </div>
              <div class="col-md-4 mb-4 pb-2">
                  <select class="select form-control-lg px-xl-5">
                    <option value="0" disabled>Choose State</option>
                      <option value="1">Gujarat</option>
                      <option value="2">New Dehli</option>
                    </select>
                  </div>
                  </div>
 
                <div class="col-md-12 mb-4">
                  <h4 class="mb-6 pb-2">Hobbies: </h4>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="cricket" id="cricket"
                      value="option1"  />
                    <label class="form-check-label" for="cricket">Cricket</label>
                  </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="chess" id="chess"
                      value="option2"  />
                    <label class="form-check-label" for="cricket">Chess</label>
                  </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="videogame" id="videogame"
                      value="option3"  />
                    <label class="form-check-label" for="cricket">Video Game</label>
                  </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="dance" id="dance"
                      value="option4"  />
                    <label class="form-check-label" for="cricket">Dance</label>
                  </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="writing" id="writing"
                      value="option5"  />
                    <label class="form-check-label" for="cricket">Writing</label>
                  </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="photography" id="photography"
                      value="option6"  />
                    <label class="form-check-label" for="cricket">Photography</label>
                  </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="drawing" id="drawing"
                      value="option6"  />
                    <label class="form-check-label" for="cricket">Drawing</label>
                  </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="webdesign" id="webdesign"
                      value="option6"  />
                    <label class="form-check-label" for="cricket">Web design</label>
                  </div>
                  </div>
  
                  <div class="row">
                      <div class="form-outline">
                        <input type="file" id="img" class="form-control form-control-lg" required/>
                        <div class="invalid-feedback">
                          Image is required!
                        </div>
                        <label class="form-label" for="img">Choose Image</label>
                      </div>
                    </div>

                  <div class="row">
                      <div class="form-outline">
                        <input type="text" id="desc" class="form-control form-control-lg " required  />
                        <div class="invalid-feedback">
                          Qualification is required!
                        </div>
                        <label class="form-label" for="desc">Qualification</label>
                      </div>
                    </div>
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" routerLink=""/>
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <div class="text-white mb-3 mb-md-0">
      © Droisys India Pvt.Ltd 2023. All rights reserved.
    </div>
    </div>
  </section>