<h1>Angular Programs</h1>
<a routerLink="interpolation">[1]. Interpolation</a>
<a routerLink="login">[2]. Component</a>
<a routerLink="sign-up">[3]. Module</a>
<a routerLink="Function-Call">[4]. Function Call</a>
<a routerLink="event1">[5]. Events</a>
<a routerLink="count">[6]. Count</a>
<a routerLink="ifelse">[7]. IfElse</a>
<a routerLink="swichcase">[8]. Swichcase</a>
<a routerLink="forloop">[9]. ForLoop</a>
<a routerLink="nestedloop">[10]. NestedLoop</a>
<a routerLink="stylebinding">[11]. StyleBinding</a>
<a routerLink="form">[12]. Form</a>
<a routerLink="toggleelement">[13]. Toggle Element/ Hide&show</a>
<a routerLink="parenttochild">[14]. Parent To Child</a>
<a routerLink="childtoparent">[15]. Child To Parent</a>
<a routerLink="materialui">[16]. MaterialUi</a>
<a routerLink="twowaybinding">[17]. Two Way Binding</a>
<a routerLink="templatereferencevariable">[18]. Template Reference Variable</a>
<a routerLink="templatedrivenform">[19]. Template Driven Form</a>
<a routerLink="reactiveform">[20]. Reactive Form & Validataion</a>
<a routerLink="directives">[21]. Directives</a>
<a routerLink="header">[22]. header</a>
<a routerLink="api1">[23]. Get Api</a>
<a routerLink="postapi">[24]. Post Api</a>
<a routerLink="model1">[25]. Model</a>
<a routerLink="lazyloading">[26]. Lazy Loading</a>



<router-outlet></router-outlet>


